
.my-message-cont {
    margin-top: 100px;
    margin-bottom: 169px;
}

#profile {
    background-color: unset
}

.my-com-cont {
    margin-top: 100px
}

.comments {
    margin-top: 5%;
    margin-left: 20px
}

.add-darker-msg {
    border: 1px solid #ecb21f;
    background-color: black;
    float: right;
    border-radius: 5px;
    padding: 20px;
}

.add-msg {
    border: 1px solid rgba(16, 46, 46, 1);
    background-color: #9D8E6F;
    float: left;
    border-radius: 5px;
    padding: 20px;
    /* width: 555px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; */
}

.comment-flex {
    display: flex;
    flex-direction: column;
}

.comment h4,
.comment span,
.darker h4,
.darker span {
    display: inline
}

.comment p,
.comment span,
.darker p,
.darker span {
    color: rgb(236, 227, 227)
}

.comment-span {
    padding-left: 20px;
    padding-top: 15px;
}
.comment-p {
    padding-left: 20px;
    padding-top: 20px;
    width: 100%;
}

.comment-h4 {
    color: rgb(212, 208, 208);
    font-weight: unset;
    line-height: 1.2;
    margin-left: 15px;
    font: revert;
    padding-top: 15px;
}

.comment-h4-center {
    text-align: center;
}

.comment-span, .comment-p {
    color: rgb(212, 208, 208);
}

.text-comment {
    margin-top: 10px;
}
/* 
.comment-form-label {
    color: rgb(212, 208, 208);
    margin-bottom: 10px;
} */

/* #align-form {
    margin-top: 20px
}

.form-group p a {
    color: white
} */

/* #checkbx {
    background-color: black
}

#darker img {
    margin-right: 15px;
    position: static
}

.form-group input,
.form-group textarea {
    background-color: black;
    border: 1px solid #9D8E6F;
    border-radius: 12px;
    color: antiquewhite;
}

.add-comment-form {
    border: 1px solid black;
    background-color: #9D8E6F;
    border-radius: 5px;
    padding: 20px
}

.user-author-btn {
    display: flex;
} */