  .img-active {
    border: 2px solid #1db9b9;
    transform: scale(1.3);
    transition: all 300ms;
  }

  .slide-show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 68px;
    min-height: 72vh
  }

  .slideshow {
    position: relative;
  }

  .mainImg-container {
    width: 100%;
    margin: 15px 15px 25px 15px;
  }

  .tumbnail {
    margin-bottom: 15px;
  }

  .mainImg {
    transition: all 500ms;
    width: 800px;
  }

  .slideshow-actions {
    /* position: absolute; */
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }

  .slideshowactions .slideshow-button {
    background: #0000003d;
    border: none;
    cursor: pointer;
    padding: 10px;
    padding-top: 10px;
    margin: 5px;
    border-radius: 15px;
    padding-top: 5px;
  }

  .actions button:active {
    background: #000000a2;
    border: none;
    cursor: pointer;
    padding: 10px;
    padding-top: 10px;
    margin: 5px;
    border-radius: 15px;
    padding-top: 5px;
  }

  .slide-show-title {
    font-size: 35px;
  }